* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    text-transform: uppercase;
    margin: 20px 5px;
}
button {
    display: block;
    margin: 10px 10px;
}
p {
    margin: 0 10px;
}